body{ background-color:lightblue;
     height: auto;
     width: 1000px;

}

.main-section{ display: flex;
                justify-content: space-between;
                flex-direction: column;
                 align-items: center;
                  padding: 40px 35px;


}

.faq-img{ width: 431.2px;
    height: 423.5px;
    overflow: hidden;
    margin-right: 50px;
    
    

}

